/* General Code */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    line-height: 1.25;
    color: #243E63;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

img{
    width: 100%;
}

h1{
    font-size: 48px;
}

main{
    overflow: hidden;
}

/* On Scroll */

body, html {
    overflow-x: hidden;
  }  

.scroll {
    transform: translateX(100%);
    transition: transform 1s;
}

.scroll.odd {
    transform: translateX(-100%);
}

.scroll.visible {
    transform: translateX(0);
}

/* Reusable Code */

.container{
    padding: 96px 0;
    margin: 0 40px;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.flex__column{
    display: flex;
    flex-direction: column;
}

.purple__button{
    color: #EDF2F7;
    background-color: #6415FF;
    border-radius: 40px;
    padding: 12px 32px;
    font-weight: 700;
    transition: background-color 300ms ease;
    cursor: pointer;
    border: none;
    width: fit-content;
    font-size: 14px;
}

.purple__button:hover{
    background-color: #5011CC;
}

.purple{
    color: #6415FF;
}

.subheading{
    font-size: 16px;
    font-weight: 700;
    color: #6415FF;
    letter-spacing: 1.6px;
    line-height: 24px;
    text-transform: uppercase;
}

.blob__element--small{
    position: absolute;
    width: 256px;
    z-index: -10;
}

.blob__element--dotted{
    position: absolute;
    z-index: -10;
    fill: #6415FF;
}

.section__title{
    font-weight: 900;
    margin-top: 24px;
    letter-spacing: 1.2px;
}

.section__para{
    color: #7C8BA1;
    font-size: 18px;
    margin-top: 24px;
    font-weight: 500;
    line-height: 30px;
}

.flex__row{
    display: flex;
    align-items: center;
}

.content__side, .photo__side{
    width: 50%;
}

.photo__side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.max__width__para{
    max-width: 576px;
    text-align: center;
}

.faqs__accordion, .testimonial {
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;     
    user-select: none;         
}

/* Navbar */

#landing{
    padding: 32px 0;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
}

.logo{
    width: 40px;
}

.Logo--link{
    font-size: 24px;
    font-weight: 900;
    transition: color 200ms ease;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 12px;
}

.Logo--link:hover:not(.footer__logo--link){
    color: #6415FF;
}

.nav__links{
    display: flex;
    gap:72px;
}

.page__links, .authentication__links{
    display: flex;
    align-items: center;
    gap: 48px;
    font-size: 14px;
    font-weight: 600;
}

.authentication__links{
    gap:32px
}

.page__link, .authentication__link{
    border-bottom: 2px solid;
    border-color: transparent;
    padding-bottom: 4px;
    transition: color 300ms ease, border-color 300ms ease;
}

.authentication__link--custom{
    font-weight: 600;
}

.page__link:hover, .authentication__link:hover:not(.authentication__link--custom){
    color: #6415FF;
    border-color:  #6415FF;
}

/* Navbar - Burger Menu */

.btn__menu{
    background-color: transparent;
    text-align: center;
    border: none;
    stroke: #6415FF;
    display: none;
    cursor: pointer;
}

.btn__menu:not(.x__mark){
    margin-right: 36px;
}

.menu__backdrop{
    background-color: #FFFFFF;
    position: fixed;
    left: 0px;
    right: -100%;
    top: 0px;
    z-index: 10;
    margin: 24px 16px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    padding: 32px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, right 0.15s;
}

.menu--open .menu__backdrop {
    opacity: 1;
    visibility: visible;
    right: 0px;
}

.menu--open {
    max-height: 100vh;
    overflow: hidden;
}

.btn__menu--close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.menu__link{
    font-weight: 600;
    font-size: 18px;
    color: #1A202C;
}

.burger__menu--button{
    font-size: 18px;
    padding: 12px 32px;
    margin: 8px 0;
}


/* Header */

.header__blob{
    left: -136px;
    bottom: 24px;
    opacity: 0.05;
}

.header__row{
    display: flex;
}

.header__content{
    width: 40%;
    justify-content: center;
    gap: 48px;
    margin-right: 64px;
}

.header__photo{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title{
    color: #1A202C;
}

.header__description{
    font-size: 18px;
}

.header__email{
    border: 2px solid #E2E8F0;
    border-radius: 40px;
    width: fit-content;
    padding: 20px 200px 20px 8px;
    padding-left: 16px;
    transition: border-color 400ms ease;
    position: relative;
}

.header__email--input{
    margin: 0 24px;
    font-size: 100%;
    border: none;
    width: 100%;
}

.header__email--input::placeholder{
    color: #d6d6d6;
    font-weight: 550;
}

.header__email--input:focus{
    outline: none;
}

.header__email--button{
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 4px;
}

.header__email:hover {
    border-color: #b4b4b4;
}

.header__email:focus-within {
    border-color: #6415FF;
}

.header__customers{
    margin-top: 32px;
}

.customers--para{
    font-size: 12px;
    font-weight: 700;
    color: #A0AEC0;
    text-transform: uppercase;
}

.customers__photo{
    width: 80%;
    margin-top: 16px;
}

.customers__photo--img{
    opacity: 0.5
}

/* Features */

.features__content{
    justify-content: center;
    align-items: center;
}

.features__elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 40px auto;
}

.features__element{
    display: flex;
    flex: 1 0 30%;
    margin: 0 16px;
    padding: 32px 8px;
}

.features__icon{
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    padding: 20px;
    height: fit-content;
    display: flex;
}

.features__icon--img{
    width: 24px;
}

.element__content{
    margin: 8px 0 0 16px;
    align-items: start;
}

.content__title{
    font-size: 24px;
}

.content__para{
    color: #7C8BA1;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 500;
    line-height: 2;
}

#features{
    position: relative;
}

.features__blob{
    opacity: 0.25;
    right: -96px;
    bottom: 48px;
}

/* Quality Work */

.quality__row{
    display: flex;
}

.quality__content{
    margin-right: 64px;
}

.quality_photo__container{
    position: relative;
    height: fit-content;
}

.quality__blob{
    right: -40px;
    bottom: -36px;
    width: 80px;
}

.quality__photo--img{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.quality__button{
    margin-top: 32px;
}

/* Steps */

.steps__blob{
    width: 160px;
    opacity: 0.15;
    bottom: -78px;
    left: 50%;
    transform: translateX(-50%);
}

.steps_photo__container{
    position: relative;
    height: fit-content;   
}

.steps{
    margin-top: 12px;
}

.step{
    margin-top: 32px;
    display: flex;
}

.step__number{
    font-size: 36px;
    color: #CBD5E0;
    font-weight: 600;
}

.steps__content{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 320px;
}

.step__title{
    font-size: 20px;
    font-weight: 600;
}

.step__details{
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}

.steps__container{
    margin-left: 64px;
}

/* Values */

.values__container{
    margin-right: 64px;
    max-width: 576px;
}

.values{
    display: flex;
}

.value{
    margin: 32px 32px 0 0;
    width: 50%;
}

.value:last-child{
    margin: 32px 0 0 0;
}

.value__header{
    display: flex;
    align-items: center;
    gap: 12px;
}

.value_icon__container{
    border-radius: 50px;
    padding: 8px;
    display: flex;
}

.affordable__icon__container{
    background-color: #9AE6B4;
}

.professionalism__icon__container{
    background-color: #FEB2B2;
}

.value__icon{
    width: 20px;
}

.affordable__icon{
    stroke: #276749;
}

.professionalism__icon{
    stroke: #9B2C2C;
}

.value__title{
    font-size: 20px;
}

.value__para{
    margin-top: 16px;
    line-height: 26px;
    font-size: 16px;
    color: #718096;
}

.values__button{
    margin-top: 48px;
}

/* Pricing */

#pricing{
    position: relative;
}

.pricing__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
}

.pricing__item{
    flex: 1 0 30%;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.pricing__item:not(:last-child){
    margin-right: 32px;
}

.pricing_header__color{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    height: 8px;
    width: 100%;
}

.pricing__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 32px 40px;
    
}

.pricing__type{
    font-size: 20px;
    color: #1A202C;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing__price{
    font-size: 48px;
    color: #1A202C;
    font-weight: 700;
}

.pricing__duration{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #A0AEC0;
    letter-spacing: 1.6;
}

.pricing__target{
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e5e5e5;
    width: 100%;
}

.target__group{
    font-size: 20px;
    color: #1A202C;
    font-weight: 700;
    text-align: center;
}

.pricing__templates, .landing__pages, .internal__pages, .assistance__type{
    color: #718096;
    font-weight: 500;
    font-size: 16px;
}

.pricing_button__container{
    padding: 32px 40px;
}

.pricing__button{
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #F7FAFC;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    padding: 16px 56px;
    text-transform: uppercase;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    transition: all 300ms ease;
}

.pricing__button:hover{
    scale: 1.02;
    filter: brightness(90%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.red__element{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.purple__item{
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.purple__margin{
    margin-top: 8px;
}

.white__text{
    color: #EDF2F7;
}

.white__button{
    background: none;
    background-color: #EDF2F7;
    color: #6415FF;
}

.pricing__blob{
    left: -16px;
    bottom: -192px;
    opacity: 0.25;
}

/* Testimonials */

.testimonials__content{
    margin-left: 64px;
    margin-right: 0;
    width: 45%;
}

.testimonials__photo_side{
    width: 65%;
}

/* Testimonials -- Slider */

.testimonial__container {
    margin: 32px auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 336px;
    display: flex;
    flex-wrap: nowrap;
}

.testimonial {
    transition: transform 1s;
    min-width: 100%;
    flex: 0 0 100%;
    box-sizing: border-box;
}

.star__rating {
    fill: #F6AD55;
    width: 20px;
}

.rating {
    margin-bottom: 16px;
}

.testimonial__title {
    font-size: 20px;
    font-weight: 700;
}

.testimonial__para {
    margin: 16px 0 40px;
    color: #4A5568;
    font-weight: 500;
    line-height: 26px;
}

.user__photo--img {
    width: 80px;
    border-radius: 50px;
}

.testimonial__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user__side {
    display: flex;
    align-items: center;
    gap: 24px;
}

.user__data {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.user__name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.user__description {
    color: #7C8BA1;
    font-weight: 500;
}

.slider__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 16px;
}

.arrow__left {
    transform: rotate(180deg);
}

.arrow__button {
    border: none;
    padding: 16px;
    border-radius: 50px;
    display: flex;
    background-color: #EDF2F7;
    margin: 0 12px;
    transition: filter 300ms ease;
}

.arrow__button:hover {
    filter: brightness(95%);
}

.button__seperator {
    width: 1px;
    height: 24px;
    background-color: #243e632d;
}

/* FAQS */

#FAQS{
    position: relative;
}

.faqs__blob--right{
    top: -72px;
    right: -144px;
    opacity: 0.15;
    fill: #4FD1C5;
}

.faqs__blob--left{
    bottom: 64px;
    left: -144px;
    opacity: 0.15;
    fill: #6415FF;
}

.FAQS__row{
    justify-content: center;
    align-items: center;
}

/* FAQS -- Accordion */

.faqs__accordion {
    margin: 48px auto;
    max-width: 896px;
}

.accordion__item {
    list-style: none;
    width: 100%;
    margin-top: 20px;
    background-color: #EDF2F7;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.accordion__item:hover{
    background-color: #E2E8F0;
}

.accordion__preview {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
}

.accordion__button {
    width: 24px;
    transition: transform 0.3s;
}

.accordion__item--label {
    font-size: 20px;
    color: #243749;
    font-weight: 600;
    cursor: pointer;
}

.accordion__item--content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0 40px;
}

.accordion__item--para {
    line-height: 26px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .accordion__preview + .accordion__item--content {
    max-height: 500px; 
    padding-top: 8px;
    padding-bottom: 16px;
}

input[type="radio"]:checked + .accordion__preview .accordion__button {
    transform: rotate(180deg);
}

/* Start */

.start__container--main{
    padding-top: 0px;
}

.start__container{
    position: relative;
    background-color: #6415FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding: 96px;
    z-index: 0;
    overflow: hidden;
}

.blob__start{
    opacity: 0.4;
    fill: #5011CC;
    position: absolute;
    width: 320px;
    z-index: -1;
}

.blob_start__left{
    left: -80px;
    bottom: -136px;
}

.blob_start__right{
    top: -260px;
    right: -80px;
}

.start__title{
    color: #F7FAFC;
    font-size: 30px;
    font-weight: 700;
    max-width: 480px;
    line-height: 45px;
}

.start__button{
    color: #F7FAFC;
    font-weight: 700;
    font-size: 16px;
    padding: 24px 40px;
    border-radius: 50px;
    height: fit-content;
    
}

.get_started__button{
    border: none;
    background-color: #F56565;
    margin-right: 32px;
    transition: background-color 300ms ease;
}

.get_started__button:hover{
    background-color: #E53E3E;
}

.contact_us__button{
    background-color: transparent;
    padding: 23px 39px;
    border: 1px solid #F7FAFC;
    transition: color 300ms ease, background-color 300ms ease;
}

.contact_us__button:hover{
    color: #6415FF;
    background-color: #F7FAFC;
}

/* Footer  */

footer{
    padding: 80px;
    background-color: #6415FF;
    position: relative;
    overflow: hidden;
    z-index: 1;
    max-width: 100%;
}

.footer__links_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 64px;
    padding-bottom: 32px;
    border-bottom: 2px solid #e5e5e51e;
}

.footer__links_list_item{
    margin-top: 8px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__links_title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.footer__link{
    font-weight: 500;
    font-size: 14px;
    border-bottom: 2px solid;
    border-color: transparent;
    padding-bottom: 4px;
    transition: border-color 300ms ease;
}

.footer__link:hover{
    border-color: #EDF2F7;
}

.footer__data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.footer__logo--link{
    font-size: 20px;
}

.footer__logo{
    width: 32px;
}

.footer__copyright{
    font-weight: 500;
}

.footer__social_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer__social_link--container{
    padding: 8px;
    background-color: #EDF2F7;
    display: flex;
    border-radius: 50px;
    transition: filter 300ms ease;
}

.footer__social_link--container:hover{
    filter: brightness(80%);
}

.footer__social_link{
    width: 16px;
    fill: #1A202C;
}

.github__link{
    color: #f0923b;
    transition: filter 300ms ease;
}

.github__link:hover{
    filter: brightness(80%);
}

.blob_footer__left{
    left: -80px;
    top: -136px;
}

.blob_footer__right{
    bottom: -200px;
    right: -140px;
}

/* Media Query */

@media (max-width: 1280px){

    .header__title{
        font-size: 36px;
    }

    .header__description{
        font-size: 16px;
    }

    .header__photo--img{
        max-width: 512px;
    }
}

@media (max-width: 1128px){
    
    .start__container{
        flex-direction: column;
        gap: 24px;
    }

    .start__title{
        text-align: center;
    }
}


@media (max-width: 1024px){

    .Logo--link{
        margin-left: 36px;
    }

    #landing{
        height: fit-content;
    }

    .nav__links{
        display: none;
    }

    .btn__menu{
        display: block;
    }

    .header__row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }

    .header__content{
        width: 60%;
        align-items: center;
        gap: 20px;
    }

    .header__title, .header__description{
        text-align: center;
    }

    .header__title{
        font-size: 30px;
    }

    .header__customers{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .customers--para{
        text-align: center;
        font-size: 14px;
    }

    .customers__photo{
        width: 90%;
    }

    .section__para{
        font-size: 16px;
    }

    .features__elements{
        width: 80%;
    }

    .flex__row{
        flex-direction: column;
        gap: 48px;
    }

    .steps__row{
        gap: 120px;
        flex-direction: column-reverse;
    }

    .steps_photo__container{
        width: 70%;
    }

    .content__side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .header__content, .content__side{
        margin-right: 0;
        margin-left: 0;
    }

    .section__title, .section__para{
        text-align: center;
    }

    .pricing__list{
        justify-content: center;
        align-items: center;
        max-width: 50%;
        margin: 64px auto 0;
        gap: 64px;
    }

    .pricing__item{
        flex: 1 0 100%;
        margin-right: 0px !important;
        
    }

    .photo__side{
        width: 75%;
    }
}

@media (max-width: 768px){

    .start__container--main{
        padding-top: 0 !important;
    }

    .container{
        padding: 72px 0;
    }

    .header__content{
        width: 80%;
    }

    .features__element{
        flex: 1 0 100%;
    }

    .customers__photo{
        width: 100%;
    }

    .header__photo{
        width: 80%;
    }

    .steps_photo__container{
        width: 80%;
    }

    .photo__side{
        width: 90%;
    }

    .pricing__list{
        max-width: 70%;
    }

    .step{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .steps__content{
        margin-left: 0px;
    }

    .step__title, .step__details{
        text-align: center;
    }

    .footer__links_list{
        gap: 32px;
    }

    .footer__links_list_item{
        flex: 1 0 40%;
        align-items: center;
    }

    .footer__links{
        text-align: center;
    }

    .footer__data{
        flex-direction: column;
        gap: 32px;
    }

    .footer__copyright{
        text-align: center;
    }
}

@media (max-width: 650px){

    .features__element{
        flex-direction: column;
        gap: 16px;
    }

    .features__icon{
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
    }

    .element__content{
        text-align: center;
        align-items: center;
        margin: 0;
    }

    .header__content{
        width: 90%;
    }

    .pricing__list{
        max-width: 80%;
    }

    .header__photo{
        width: 100%;
    }

    .steps_photo__container{
        width: 100%;
    }

    .start__container{
        gap: 40px;
    }

    .start__title{
        font-size: 26px;
    }

    .start__button{
        padding: 12px 24px;
    }

    .get_started__button{
        margin-right: 0;
    }

    .start__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    .section__title{
        font-size: 32px;
    }

    .value{
        width: 100%;
    }

    .values{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .value__header{
        justify-content: center;
    }

    .value__para{
        text-align: center;
    }

    .value{
        margin-right: 0;
    }

    .header__email--button{
        padding: 20px 32px;
        position: static;
        width: 100%;
    }

    .header__email--input{
        border: 2px solid #E2E8F0;
        border-radius: 40px;
        padding: 20px 8px 20px 32px;
        width: 100%;
        transition: border-color 300ms ease;
    }

    .header__email--input:hover {
        border-color: #b4b4b4;
    }
    
    .header__email--input:focus {
        border-color: #6415FF;
    }

    .header__email{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 20px 8px;
        border: none;
        width: 100%;
    }

}

@media (max-width: 500px){

    .pricing__list{
        max-width: 100%;
    }

    .testimonial__user{
        flex-direction: column;
        gap: 32px;
    }
}